.book-logo {
    margin: 0;
    background: #fff;
}

.book-logo img {
    width: 200px;
}

/* Bread Crumb Trail */
.markdown-section h1+p {
    margin-top: -28px;
    padding-bottom: 5px;
    border-bottom: 3px solid #DDD;
}

/* Opt out pages without bread crumb trail */
.markdown-section h1#learnjs---web-development-roadmap + p,
.markdown-section h1#learnjs--»-contribute + p {
    margin-top: auto;
    padding-bottom: auto;
    border-bottom: none;
}