.book-logo {
    margin: 0;
    background: #fff;
}

.book-logo img {
    width: 110px;
}

/* Bread Crumb Trail */
.markdown-section h1+p {
    margin-top: -28px;
    padding-bottom: 5px;
    border-bottom: 3px solid #DDD;
}

.markdown-section h1#learning-webdev+p {
    margin-top: auto;
    padding-bottom: auto;
    border-bottom: none;
}